spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.postgresql.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect